h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 250201022-02]
        p.mb-0 Desarrollar el storyboard teniendo en cuenta el análisis del guion.
           




