h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas      
                    +navTemaItem('1', 'Generaci칩n de ideas', 'main.html#page/generacion_ideas/')
                    +navTemaItem('2', 'Esquemas de narraci칩n', 'main.html#page/esquemas_narracion/')
                    +navTemaItem('3', 'Creaci칩n y dise침o de personajes', 'main.html#page/creacion_personajes/')
                    +navTemaItem('4', 'Guion', 'main.html#page/guion/') 
                    
                    