.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Arquetipo:
            | modelo o patrón original que sirve como pauta, del cual se derivan otros objetos, ideas o conceptos.
        hr
        p
            strong.mr-2 Clímax:
            | es el punto de mayor tensión dramática, después del cual todo se concluye o soluciona.
        hr
        p
            strong.mr-2 #[i Flashback:]
            | es un recurso usado en el cine para mostrar acciones del pasado o recuerdos del personaje.
        hr
        p
            strong.mr-2 #[i Flashforward:]
            | es un recurso usado en el cine para mostrar acciones del futuro.
        hr
        p
            strong.mr-2 Peripecia: 
            | las peripecias normalmente son situaciones adversas que suceden repentinamente y logran alterar la determinación del personaje central. De esta manera las peripecias cambian la condición en la que se encuentra la historia, pero no consiguen resolver el conflicto; sin embargo, logran acercar al personaje a su meta u objetivo.
        hr
        p
            strong.mr-2 Punto argumental (#[i plot point]): 
            | acontecimiento que cambia radicalmente el sentido de la acción o historia.       