.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td Andrew Stanton, (2012), The Clues to a great story.
                    td Página web
                    td 
                        a(href="https://www.ted.com/talks/andrew_stanton_the_clues_to_a_great_story", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar

                tr
                    td David Esteban Cubero, (2017), Cómo aplicar el viaje del héroe a tu historia.
                    td Podcast (Blog)
                    td 
                        a(href="https://cursosdeguion.com/55-como-aplicar-viaje-del-heroe/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar   
                tr
                    td Luis Francisco Pérez, (s.f.), Curso cinematográfico.
                    td Página web
                    td 
                        a(href="https://aprendercine.com/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar              
                tr
                    td Sala 1 - Canal de cine y series, (2017), El Viaje del Héroe.
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=RF1uKuKCIgE", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver  

                tr
                    td Sinjania, (2019), 25 cosas en las que pensar antes de crear un personaje.
                    td Página web 
                    td 
                        a(href="https://www.sinjania.com/crear-un-personaje/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Visitar